<table class="table">
  <thead>
    <tr>
      @for (column of columns; track $index) {
        <th scope="col">{{ column.title }}</th>
      }
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track $index) {
      <tr>
        @for (column of columns; track $index) {
          <td>{{ item[column.key] }}</td>
        }
        <td>
          <button [routerLink]="buttonRouterLink" (click)="editItem(item)">Edit</button>
        </td>
      </tr>
    }
  </tbody>
</table>
